.title-menu {
  text-align: center; }

.main-h4 {
  text-align: center; }

.article-note {
  background-color: #fcdfdb; }
  @media screen and (max-width: 425px) {
    .article-note {
      height: auto; } }

.article-chic {
  background-color: #fff5fe; }

.article-palette {
  background-color: #fdfffd; }

.article-delice {
  background-color: #f9f9f9; }

.shadow {
  box-shadow: 0 0 1em #e2e2e2; }

p {
  text-align: center;
  padding-top: 50px; }
  p .noteimg {
    width: 150px; }

.main-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Spartan', sans-serif; }

.main-big-article {
  width: 80%;
  margin: auto;
  margin-bottom: 80px; }
  @media screen and (max-width: 425px) {
    .main-big-article {
      width: 90%;
      margin: auto;
      margin-bottom: 50px; } }

.title-note {
  font-size: 2.7em;
  color: #3c1218;
  font-family: 'Zhi Mang Xing', cursive; }

.main-note {
  font-family: 'Kalam', cursive;
  color: #3c1218;
  margin: 0 50px 0 50px; }
  @media screen and (max-width: 425px) {
    .main-note {
      margin: 0; } }
  .main-note .h4-note {
    font-size: 1.8em; }
    @media screen and (max-width: 425px) {
      .main-note .h4-note {
        font-size: 1.2em;
        text-align: center; } }
  @media screen and (max-width: 425px) {
    .main-note table {
      font-size: 1em; } }
  @media screen and (max-width: 425px) {
    .main-note tr {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; } }
  .main-note .noms {
    padding-left: 50px;
    padding-top: 10px; }
    @media screen and (max-width: 425px) {
      .main-note .noms {
        padding-left: 20px;
        margin-right: 20px; } }
  .main-note .entre .noms {
    padding-right: 300px; }
    @media screen and (max-width: 425px) {
      .main-note .entre .noms {
        padding-right: 0; } }
  .main-note .plats .noms {
    padding-right: 320px; }
    @media screen and (max-width: 425px) {
      .main-note .plats .noms {
        padding-right: 0; } }
  .main-note .main-border-note {
    display: flex;
    justify-content: center;
    margin-top: 80px; }
    .main-note .main-border-note .border-note {
      width: 250px; }
      @media screen and (max-width: 425px) {
        .main-note .main-border-note .border-note {
          width: 30%; } }
    .main-note .main-border-note .border-left-entre {
      margin-right: 100px; }
      @media screen and (max-width: 425px) {
        .main-note .main-border-note .border-left-entre {
          margin-right: 10px; } }
    .main-note .main-border-note .border-right-entre {
      margin-left: 10px; }
    .main-note .main-border-note .border-left-plat {
      margin-right: 70px; }
      @media screen and (max-width: 425px) {
        .main-note .main-border-note .border-left-plat {
          margin-right: 10px; } }
    .main-note .main-border-note .border-right-plat {
      margin-left: 70px; }
      @media screen and (max-width: 425px) {
        .main-note .main-border-note .border-right-plat {
          margin-left: 10px; } }
    .main-note .main-border-note .border-left-dessert {
      margin-right: 90px; }
      @media screen and (max-width: 425px) {
        .main-note .main-border-note .border-left-dessert {
          margin-right: 10px; } }
    .main-note .main-border-note .border-right-dessert {
      margin-left: 90px; }
      @media screen and (max-width: 425px) {
        .main-note .main-border-note .border-right-dessert {
          margin-left: 10px; } }

/* ANIMATIONS NOTE ENCHANTEE */
.h4-note {
  position: relative; }

.h4-note::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1em;
  transition: 500ms ease-in-out; }

.h4-note:hover::before {
  left: 0;
  width: 100%;
  background-color: #000; }

/* MENU CHIC A LA FRANCAISE */
.title-chic {
  font-size: 3em;
  background: -webkit-linear-gradient(10deg, #FF9100, #3D5AFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 100px; }

.main-chic {
  font-family: 'Croissant One', cursive; }
  .main-chic .h4-chic {
    font-size: 1.3em; }
  .main-chic .h4-chic-entre {
    color: #d08b3c; }
  .main-chic .h4-chic-plat {
    color: #a56799; }
  .main-chic .h4-chic-dessert {
    color: #6e4ccc; }
  .main-chic .border {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px; }
    .main-chic .border .border-chic {
      width: 250px; }
    .main-chic .border .border-right-entre {
      margin-left: 50px; }
    .main-chic .border .border-left-entre {
      margin-right: 50px; }
    .main-chic .border .border-right-plat {
      margin-left: 90px; }
    .main-chic .border .border-left-plat {
      margin-right: 90px; }
    .main-chic .border .border-left-dessert {
      margin-right: 80px; }
    .main-chic .border .border-right-dessert {
      margin-left: 80px; }
  .main-chic .list-noms, .main-chic .list-prix {
    font-size: 1.3em; }
  .main-chic .entre {
    margin-right: 200px;
    color: #d08b3c; }
  .main-chic .plat {
    color: #a56799; }
  .main-chic .dessert {
    color: #6e4ccc; }
  .main-chic .entre-prix {
    color: #d08b3c; }
  .main-chic .plat-prix {
    color: #a56799; }
  .main-chic .flex {
    display: flex;
    width: 100%;
    margin-left: 50px; }
    .main-chic .flex li {
      margin-top: 10px; }

/* ANIMATIONS CHIC A LA FR */
.h4-chic-entre {
  position: relative; }

.h4-chic-entre::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 0.1em;
  transition: 500ms ease-in-out; }

.h4-chic-entre:hover::before {
  left: 0px;
  width: 100%;
  background-color: #d08b3c; }

.h4-chic-plat {
  position: relative; }

.h4-chic-plat::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 0.1em;
  transition: 500ms ease-in-out; }

.h4-chic-plat:hover::before {
  left: 0px;
  width: 100%;
  background-color: #a56799; }

.h4-chic-dessert {
  position: relative; }

.h4-chic-dessert::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 0.1em;
  transition: 500ms ease-in-out; }

.h4-chic-dessert:hover::before {
  left: 0px;
  width: 100%;
  background-color: #6e4ccc; }

.title-delice {
  background: -webkit-linear-gradient(10deg, #0D47A1, #29B6F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 100px;
  font-size: 2.7em;
  font-family: 'Dancing Script', cursive; }

.main-delice {
  font-family: 'Kalam', cursive;
  margin: auto; }
  .main-delice .h4-delice {
    font-size: 1.4em; }
    @media screen and (max-width: 425px) {
      .main-delice .h4-delice {
        font-size: 1em;
        text-align: center; } }
  .main-delice .main-border-delice {
    display: flex;
    justify-content: center;
    margin-top: 80px; }
    .main-delice .main-border-delice .border-delice {
      width: 270px; }
      @media screen and (max-width: 425px) {
        .main-delice .main-border-delice .border-delice {
          width: 20%; } }
    .main-delice .main-border-delice .border-left-entre {
      margin-right: 50px; }
      @media screen and (max-width: 425px) {
        .main-delice .main-border-delice .border-left-entre {
          margin-right: 10px; } }
    .main-delice .main-border-delice .border-right-entre {
      margin-left: 50px; }
      @media screen and (max-width: 425px) {
        .main-delice .main-border-delice .border-right-entre {
          margin-left: 10px; } }
    .main-delice .main-border-delice .border-left-plat {
      margin-right: 50px; }
      @media screen and (max-width: 425px) {
        .main-delice .main-border-delice .border-left-plat {
          margin-right: 10px; } }
    .main-delice .main-border-delice .border-right-plat {
      margin-left: 50px; }
      @media screen and (max-width: 425px) {
        .main-delice .main-border-delice .border-right-plat {
          margin-left: 10px; } }
    .main-delice .main-border-delice .border-left-dessert {
      margin-right: 50px; }
      @media screen and (max-width: 425px) {
        .main-delice .main-border-delice .border-left-dessert {
          margin-right: 10px; } }
    .main-delice .main-border-delice .border-right-dessert {
      margin-left: 50px; }
      @media screen and (max-width: 425px) {
        .main-delice .main-border-delice .border-right-dessert {
          margin-left: 10px; } }
  .main-delice .flex {
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-top: 50px; }
    @media screen and (max-width: 425px) {
      .main-delice .flex {
        margin: 20px 50px 20px 0px;
        padding-left: 0;
        flex-direction: column; } }
    .main-delice .flex li {
      margin-top: 10px; }
      @media screen and (max-width: 425px) {
        .main-delice .flex li {
          margin: 20px;
          text-align: center; } }
  .main-delice .entre {
    margin-right: 130px; }
    @media screen and (max-width: 425px) {
      .main-delice .entre {
        margin: 0; } }
  .main-delice .plat {
    margin-right: 200px; }
    @media screen and (max-width: 425px) {
      .main-delice .plat {
        margin: 0; } }
  .main-delice .dessert {
    margin-right: 400px; }
    @media screen and (max-width: 425px) {
      .main-delice .dessert {
        margin: 0; } }
  .main-delice .list-noms, .main-delice .list-prix {
    font-size: 1.1em; }
    @media screen and (max-width: 425px) {
      .main-delice .list-noms, .main-delice .list-prix {
        font-size: 0.8em;
        display: flex; } }
  @media screen and (max-width: 425px) {
    .main-delice .entre-prix {
      margin-top: 5px; } }
  @media screen and (max-width: 425px) {
    .main-delice .list-prix {
      font-size: 1em;
      justify-content: space-around; } }
  @media screen and (max-width: 425px) {
    .main-delice .list-noms {
      justify-content: space-around; } }

/* ANIMATIONS DELICE */
.h4-delice {
  position: relative; }

.h4-delice::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1em;
  transition: 500ms ease-in-out; }

.h4-delice:hover::before {
  left: 0;
  width: 100%;
  background-color: #000; }

.title-palette {
  background: -webkit-linear-gradient(10deg, #43A047, #C6FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script', cursive;
  padding-top: 50px;
  font-size: 5em; }

.main-palette {
  font-family: 'Kalam', cursive;
  margin: auto; }
  .main-palette .h4-palette {
    font-size: 1.4em; }
  .main-palette .main-border-palette {
    display: flex;
    justify-content: center;
    margin-top: 80px; }
    .main-palette .main-border-palette .border-palette {
      width: 300px; }
    .main-palette .main-border-palette .border-left-entre {
      margin-right: 90px; }
    .main-palette .main-border-palette .border-right-entre {
      margin-left: 90px; }
    .main-palette .main-border-palette .border-left-plat {
      margin-right: 50px; }
    .main-palette .main-border-palette .border-right-plat {
      margin-left: 50px; }
    .main-palette .main-border-palette .border-left-dessert {
      margin-right: 40px; }
    .main-palette .main-border-palette .border-right-dessert {
      margin-left: 40px; }
  .main-palette .flex {
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-top: 50px; }
    .main-palette .flex li {
      margin-top: 10px; }
  .main-palette .entre {
    margin-right: 180px; }
  .main-palette .plat {
    margin-right: 90px; }
  .main-palette .dessert {
    margin-right: 100px; }
  .main-palette .list-noms, .main-palette .list-prix {
    font-size: 1.1em; }

/* ANIMATIONS PALETTE */
.h4-palette {
  position: relative; }

.h4-palette::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1em;
  transition: 500ms ease-in-out; }

.h4-palette:hover::before {
  left: 0;
  width: 100%;
  background-color: #000; }

* {
  margin: 0; }

a {
  text-decoration: none;
  list-style: none; }

li {
  list-style: none; }

header {
  background-color: #579c87;
  height: 100px; }
  header h1 {
    text-align: center;
    padding-top: 25px;
    color: #fdcb46;
    font-family: 'Spartan', sans-serif;
    font-size: 3em; }

.section-up, .section-down {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 30px 30px 30px; }
  @media screen and (max-width: 425px) {
    .section-up, .section-down {
      flex-direction: column;
      align-items: center; } }
  .section-up .main-article, .section-down .main-article {
    text-align: center;
    width: 40%;
    height: 500px; }
    @media screen and (max-width: 425px) {
      .section-up .main-article, .section-down .main-article {
        width: 80%; } }
  .section-up .article1, .section-down .article1 {
    background-color: #fcdfdb; }
    .section-up .article1 p img, .section-down .article1 p img {
      width: 150px;
      padding-top: 100px; }
  .section-up .article2, .section-down .article2 {
    background-color: #fff5fe; }
    @media screen and (max-width: 425px) {
      .section-up .article2, .section-down .article2 {
        margin-top: 50px; } }
  .section-up .article3, .section-down .article3 {
    background-color: #f9f9f9; }
  .section-up .article4, .section-down .article4 {
    background-color: #fdfffd; }
    @media screen and (max-width: 425px) {
      .section-up .article4, .section-down .article4 {
        margin-top: 50px; } }
  .section-up .shadow, .section-down .shadow {
    box-shadow: 0 0 1em #e2e2e2; }
  .section-up .zoom:hover, .section-down .zoom:hover {
    animation: zoom 100ms linear forwards; }
  .section-up .zoom_index:hover, .section-down .zoom_index:hover {
    -webkit-animation: zoom 100ms linear forwards; }

.titre {
  font-size: 2em;
  padding: 10px; }

.h4-1 {
  font-family: 'Zhi Mang Xing', cursive;
  color: #3c1218; }

.h4-2 {
  font-family: 'Croissant One', cursive;
  background: -webkit-linear-gradient(10deg, #FF9100, #3D5AFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 200px; }

.h4-3 {
  font-family: 'Dancing Script', cursive;
  background: -webkit-linear-gradient(10deg, #0D47A1, #29B6F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 200px; }

.h4-4 {
  font-family: 'Kaushan Script', cursive;
  background: -webkit-linear-gradient(10deg, #43A047, #C6FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 200px; }

.h3-1 {
  color: #3c1218;
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 130px; }

.h3-2 {
  color: #c77412;
  padding-bottom: 180px; }

.h3-3 {
  color: #0887fb;
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 190px; }

.h3-4 {
  color: #72bf56;
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 170px; }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #579c87;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  font-family: 'Spartan', sans-serif; }
  footer :hover {
    animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2; }
  footer a {
    text-decoration: none;
    list-style: none;
    color: #fdcb46;
    font-size: 1em; }

.btn-prochainement {
  width: 30%;
  height: 80px;
  margin: auto;
  margin-bottom: 70px;
  border-radius: 10px;
  background-color: #579c87;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 425px) {
    .btn-prochainement {
      width: 60%; } }
  .btn-prochainement .txt-prochainement {
    padding-top: 25px;
    text-decoration: none;
    list-style: none;
    color: #fdcb46;
    font-family: 'Spartan', sans-serif;
    font-size: 1.6em; }

.btn-prochainement:after {
  overflow: hidden;
  position: absolute;
  right: 450px;
  color: #fdcb46;
  font-size: 3em;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2s infinite;
  animation: ellipsis steps(4, end) 2s infinite;
  content: "\2026";
  width: 0px; }
  @media screen and (max-width: 425px) {
    .btn-prochainement:after {
      left: 190px;
      top: 2355px; } }

@keyframes ellipsis {
  to {
    width: 60px; } }
@-webkit-keyframes ellipsis {
  to {
    width: 60px; } }
@keyframes headshake {
  25% {
    transform: translateX(1%); }
  75% {
    transform: translateX(-1%); } }
@keyframes zoom {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0.8;
    transform: scale(1.1); }
  100% {
    opacity: 0.5;
    transform: scale(1.2); } }
@-webkit-keyframes zoom {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0.8;
    transform: scale(1.1); }
  100% {
    opacity: 0.5;
    transform: scale(1.2); } }
.footer-note {
  font-family: 'Zhi Mang Xing', cursive;
  color: #3c1218;
  font-size: 2.5em;
  display: flex;
  justify-content: center; }
  .footer-note img {
    width: 80px; }

@keyframes progress-bar {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

/*# sourceMappingURL=style.css.map */
