$color-bg : #579c87;
$color-bg-txt : #fdcb46;
$color-note : #fcdfdb;
$color-chic : #fff5fe;
$color-delice : #f9f9f9;
$color-palette : #fdfffd;
$color_menu-note:#3c1218;
$color_menu-chic:#c77412;
$color_menu-delice:#0887fb;
$color_menu-palette: #72bf56;

$shake-intensity: 1%;

@mixin bg-color($color : $color-bg) {
    background-color: $color;
}
@mixin bg-font {
    font-family: 'Spartan', sans-serif;
}

@mixin font-note {
    font-family: 'Zhi Mang Xing', cursive;
}
@mixin font-chic{
    font-family: 'Croissant One', cursive;
}
@mixin font-papille{
    font-family: 'Dancing Script', cursive;
}
@mixin font-palette{
    font-family: 'Kaushan Script', cursive;
}
@mixin font-menu {
    font-family: 'Kalam', cursive;
}

@mixin shadows-box {
    box-shadow: 0 0 1em #e2e2e2;
}

@mixin color-font-note {
    color: #3c1218;
}
@mixin color-font-chic {
   background : -webkit-linear-gradient(10deg, #FF9100, #3D5AFE );
  -webkit-background-clip : text;
  -webkit-text-fill-color: transparent;
}
@mixin color-font-papille {
    background: -webkit-linear-gradient(10deg, #0D47A1 , #29B6F6 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin color-font-palette {
    background: -webkit-linear-gradient(10deg, #43A047 , #C6FF00 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*{
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
}

header{
    @include bg-color();
    height: 100px;
    h1{
        text-align: center;
        padding-top: 25px;
        color: $color-bg-txt;
        @include bg-font();
        font-size: 3em;
    }
}

.section-up, .section-down{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 30px 30px 30px;
    .main-article{
        text-align: center;
        width: 40%;
        height: 500px;
    }
    .article1{
        @include bg-color($color-note);
        p{
            img{
                width: 150px;
                padding-top: 100px;
            }
        }
    
    }
    .article2{
        @include bg-color($color-chic);
    }
    .article3{
        @include bg-color($color-delice);
    }
    .article4{
        @include bg-color($color-palette);
    }
    .shadow{
        @include shadows-box();
    }

    .zoom:hover {
        animation: zoom 100ms linear forwards;
        
    }
    
    .zoom_index:hover {
        -webkit-animation: zoom 100ms linear forwards;
    }
}
.titre{
    font-size: 2em;
    padding: 10px;
}
    .h4-1{
        @include font-note();
        @include color-font-note();
        
    }
    .h4-2{
        @include font-chic();
        @include color-font-chic();
        padding-top: 200px;
    }
    .h4-3{
        @include font-papille();
        @include color-font-papille();
        padding-top: 200px;
    }
    .h4-4{
        @include font-palette();
        @include color-font-palette();
        padding-top: 200px;
    }
    .h3-1{
        color: $color_menu-note;
        @include font-palette();
        padding-bottom: 130px;
    }
    .h3-2{
        color: $color_menu-chic;
        padding-bottom: 180px;
    }
    .h3-3{
        color: $color_menu-delice;
        @include font-palette();
        padding-bottom: 190px;
    }
    .h3-4{
        color: $color_menu-palette;
        @include font-palette();
        padding-bottom: 170px;
    }
    



footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 ;
    padding: 0 ;
 
     @include bg-color();
     height: 30px;
     display: flex;
     justify-content: space-between;
     padding-right: 50px;
     padding-left: 50px;
     padding-top: 10px;
     @include bg-font();

     :hover{
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
     }
     a{
         text-decoration: none;
         list-style: none;
         color: $color-bg-txt;
         font-size: 1em;
     }
 
}

 .btn-prochainement{
    
     width: 30%;
     height: 80px;
     margin: auto;
     margin-bottom: 70px;
     border-radius: 10px;
     @include bg-color();
     display: flex;
     justify-content: center;
     
     .txt-prochainement{
         padding-top: 25px;
         text-decoration: none;
         list-style: none;
         color: $color-bg-txt;
         @include bg-font();
         font-size: 1.6em;
     }
     
 }
 .btn-prochainement:after {
    overflow: hidden;
    position: absolute;
    right: 450px;
    
    color: $color-bg-txt;
    font-size: 3em;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2s infinite;      
    animation: ellipsis steps(4,end) 2s infinite;
    content: "\2026";
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 60px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 60px;    
    }
  }



@keyframes headshake {
    25% {
        
        transform: translateX($shake-intensity);
    }
    75% {
        
        transform: translateX($shake-intensity * -1);
    }
}

@keyframes zoom {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}
@-webkit-keyframes zoom {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}




    .main-title{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        @include bg-font();
    }
    .main-big-article{
        width: 80%;
        height: 1100px;
        margin: auto;
        margin-bottom: 80px;
    }
    .article-note{
        @include bg-color($color-note);
        height: 1400px;
    }
    .article-chic{
        @include bg-color($color-chic);
    }
    .article-palette{
        @include bg-color($color-palette);
    }
    .article-delice{
        @include bg-color($color-delice);
    }
    .shadow{
        @include shadows-box();
    }
    p{
        text-align: center;
        padding-top: 50px;
        .noteimg{
        width: 150px;
    }
}
    .title-menu{
        font-size: 3.5em;
    }
    .title-chic{
        font-size: 2em;
        @include color-font-chic();
        padding-top: 100px;
    }
    .title-palette{
        @include color-font-palette();
        padding-top: 50px;
    }
    .title-delice{
        @include color-font-papille();
        padding-top: 50px;
        font-size: 3.7em;
    }
    .title-note{
        font-size: 2.7em;
    }
    
    

    .main-table{
        margin-left: 50px;
        padding: 30px;
        font-size: 1.5em;
        .table-txt-note{
            padding-right: 200px;
        }
        .table-txt-chic{
            padding-right: 100px;
        }
        .table-txt-palette{
            padding-right: 100px;
        }
        .table-txt-delice{
            padding-right: 30px;
        }
        
    }
    .table-note{
        @include font-note();
        @include color-font-note();
        margin: auto;
        td{
            padding-bottom: 20px;
            font-size: 1em;
            @include font-menu();
        }
        th{
            font-size: 1.4em;
            @include font-menu();
        }
    }
    .table-palette{
        @include font-palette();
        margin: auto;
        td{
            padding-bottom: 20px;
            @include font-menu();
        }
        th{
            @include font-menu();
        }
    }
    .table-chic{
        @include font-chic();
        td{
            padding-bottom: 20px;
        }
    }
    .table-delice{
        @include font-papille();
        margin: auto;
        td{
            font-size: 1.2em;
            padding-bottom: 10px;
            @include font-menu();
        }
        th{
            font-size: 1.3em;
            @include font-menu();
        }
    }
    .footer-note{
        @include font-note();
        @include color-font-note();
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        img{
            width: 80px;
        }
        
    }
    

    
    .main-th{
        font-size: 1em;
    }
    .main-tr{
        font-size: 0.8em;
    }
    .th-note{
        padding-bottom: 30px;
        padding-top: 40px;

        :hover{
            animation: progress-bar 1000ms
        }
    }
    .th-chic{
        padding: 40px;
    }
    .th-palette{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .th-delice{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .th-chic-entre{
        color: #d08b3c;
    }
    .th-chic-plat{
        color: #a56799;
    }
    .th-chic-dessert{
        color: #6e4ccc;
    }

    .tr-chic-entre{
        color: #d08b3c;
    }
    .tr-chic-plat{
        color: #a56799;
    }
    .tr-chic-dessert{
        color: #6e4ccc;
    }

    @keyframes progress-bar{
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }

    .th-note {
        position: relative;
    }
    
    .th-note::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 290px;
        width: 0;
        height: 0.1em;
        
        transition: 500ms ease-in-out;
    }
    
    .th-note:hover::before {
        left: 290px;
        width: 200px;
        background-color: #000;
    }

    .th-chic-entre {
        position: relative;
    }
    
    .th-chic-entre::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 150px;
        width: 0;
        height: 0.1em;
        
        transition: 500ms ease-in-out;
    }
    
    .th-chic-entre:hover::before {
        left: 150px;
        width: 450px;
        background-color: #d08b3c;
    }

    .th-chic-plat {
        position: relative;
    }
    
    .th-chic-plat::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 150px;
        width: 0;
        height: 0.1em;
        
        transition: 500ms ease-in-out;
    }
    
    .th-chic-plat:hover::before {
        left: 150px;
        width: 450px;
        background-color: #a56799;
    }

    .th-chic-dessert {
        position: relative;
    }
    
    .th-chic-dessert::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 150px;
        width: 0;
        height: 0.1em;
        
        transition: 500ms ease-in-out;
    }
    
    .th-chic-dessert:hover::before {
        left: 150px;
        width: 450px;
        background-color: #6e4ccc;
    }

    .th-delice {
        position: relative;
    }
    
    .th-delice::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 170px;
        width: 0;
        height: 0.1em;
        
        transition: 500ms ease-in-out;
    }
    
    .th-delice:hover::before {
        left: 170px;
        width: 340px;
        background-color: #000;
    }

    .th-palette {
        position: relative;
    }
    
    .th-palette::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 200px;
        width: 0;
        height: 0.1em;
        
        transition: 500ms ease-in-out;
    }
    
    .th-palette:hover::before {
        left: 200px;
        width: 280px;
        background-color: #000;
    }