@import "./utils/variables";
@import "./utils/fonctions";

@import "./pages/note";
@import "./pages/chic";
@import "./pages/delice";
@import "./pages/palette";








*{
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
li{
    list-style: none;
}

header{
    @include bg-color();
    height: 100px;
    h1{
        text-align: center;
        padding-top: 25px;
        color: $color-bg-txt;
        @include bg-font();
        font-size: 3em;
    }
}

.section-up, .section-down{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 30px 30px 30px;
    .main-article{
        text-align: center;
        width: 40%;
        height: 500px;
    }
    .article1{
        @include bg-color($color-note);
        p{
            img{
                width: 150px;
                padding-top: 100px;
            }
        }
    
    }
    .article2{
        @include bg-color($color-chic);
    }
    .article3{
        @include bg-color($color-delice);
    }
    .article4{
        @include bg-color($color-palette);
    }
    .shadow{
        @include shadows-box();
    }

    .zoom:hover {
        animation: zoom 100ms linear forwards;
        
    }
    
    .zoom_index:hover {
        -webkit-animation: zoom 100ms linear forwards;
    }
}
.titre{
    font-size: 2em;
    padding: 10px;
}
    .h4-1{
        @include font-note();
        @include color-font-note();
        
    }
    .h4-2{
        @include font-chic();
        @include color-font-chic();
        padding-top: 200px;
    }
    .h4-3{
        @include font-papille();
        @include color-font-papille();
        padding-top: 200px;
    }
    .h4-4{
        @include font-palette();
        @include color-font-palette();
        padding-top: 200px;
    }
    .h3-1{
        color: $color_menu-note;
        @include font-palette();
        padding-bottom: 130px;
    }
    .h3-2{
        color: $color_menu-chic;
        padding-bottom: 180px;
    }
    .h3-3{
        color: $color_menu-delice;
        @include font-palette();
        padding-bottom: 190px;
    }
    .h3-4{
        color: $color_menu-palette;
        @include font-palette();
        padding-bottom: 170px;
    }
    



footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 ;
    padding: 0 ;
 
     @include bg-color();
     height: 30px;
     display: flex;
     justify-content: space-between;
     padding-right: 50px;
     padding-left: 50px;
     padding-top: 10px;
     @include bg-font();

     :hover{
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
     }
     a{
         text-decoration: none;
         list-style: none;
         color: $color-bg-txt;
         font-size: 1em;
     }
 
}

 .btn-prochainement{
    
     width: 30%;
     height: 80px;
     margin: auto;
     margin-bottom: 70px;
     border-radius: 10px;
     @include bg-color();
     display: flex;
     justify-content: center;
     
     .txt-prochainement{
         padding-top: 25px;
         text-decoration: none;
         list-style: none;
         color: $color-bg-txt;
         @include bg-font();
         font-size: 1.6em;
     }
     
 }
 .btn-prochainement:after {
    overflow: hidden;
    position: absolute;
    right: 450px;
    
    color: $color-bg-txt;
    font-size: 3em;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2s infinite;      
    animation: ellipsis steps(4,end) 2s infinite;
    content: "\2026";
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 60px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 60px;    
    }
  }



@keyframes headshake {
    25% {
        
        transform: translateX($shake-intensity);
    }
    75% {
        
        transform: translateX($shake-intensity * -1);
    }
}

@keyframes zoom {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}
@-webkit-keyframes zoom {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}




    .main-title{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        @include bg-font();
    }
    .main-big-article{
        width: 80%;
        height: 1100px;
        margin: auto;
        margin-bottom: 80px;
    }
    .article-note{
        @include bg-color($color-note);
    }
    .article-chic{
        @include bg-color($color-chic);
    }
    .article-palette{
        @include bg-color($color-palette);
    }
    .article-delice{
        @include bg-color($color-delice);
    }
    .shadow{
        @include shadows-box();
    }
    p{
        text-align: center;
        padding-top: 50px;
        .noteimg{
        width: 150px;
    }
}
    
    
    
    
    
    
    .title-menu{
            
            text-align: center;
        }
    .main-h4{
            text-align: center;
        }
    
        
    
        
    
    
        
    
    
    .footer-note{
        @include font-note();
        @include color-font-note();
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        img{
            width: 80px;
        }
        
    }
    

    
    
    
    
    
    
    
    

    

    @keyframes progress-bar{
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }

    

    

    

    /* ANIMATIONS PALETTE */
    .h4-palette {
        position: relative;
    }
    
    .h4-palette::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.1em;
        
        transition: 500ms ease-in-out;
    }
    
    .h4-palette:hover::before {
        left: 0;
        width: 100%;
        background-color: #000;
    }

 

    


