*{
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
}
li{
    list-style: none;
}

header{
    @include bg-color();
    height: 100px;
    h1{
        text-align: center;
        padding-top: 25px;
        color: $color-bg-txt;
        @include bg-font();
        font-size: 3em;
    }
}

.section-up, .section-down{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 30px 30px 30px;
    @include mobile-only{
        flex-direction: column;
        align-items: center;
        
    }
    .main-article{
        text-align: center;
        width: 40%;
        height: 500px;
        @include mobile-only{
            width: 80%;
            
        }
    }
    .article1{
        @include bg-color($color-note);
        p{
            img{
                width: 150px;
                padding-top: 100px;
            }
        }
    
    }
    .article2{
        @include bg-color($color-chic);
        @include mobile-only{
            margin-top: 50px;
        }
    }
    .article3{
        @include bg-color($color-delice);
    }
    .article4{
        @include bg-color($color-palette);
        @include mobile-only{
            margin-top: 50px;
        }
    }
    .shadow{
        @include shadows-box();
    }

    .zoom:hover {
        animation: zoom 100ms linear forwards;
        
    }
    
    .zoom_index:hover {
        -webkit-animation: zoom 100ms linear forwards;
    }
}

//TITRE MENU ACCCUEIL
.titre{
    font-size: 2em;
    padding: 10px;
}
    .h4-1{
        @include font-note();
        @include color-font-note();
        
    }
    .h4-2{
        @include font-chic();
        @include color-font-chic();
        padding-top: 200px;
        @include chic{
            font-size: 1.5em;
        }
    }
    .h4-3{
        @include font-papille();
        @include color-font-papille();
        padding-top: 200px;
    }
    .h4-4{
        @include font-palette();
        @include color-font-palette();
        padding-top: 200px;
    }
    .h3-1{
        color: $color_menu-note;
        @include font-palette();
        padding-bottom: 130px;
    }
    .h3-2{
        color: $color_menu-chic;
        padding-bottom: 180px;
    }
    .h3-3{
        color: $color_menu-delice;
        @include font-palette();
        padding-bottom: 190px;
    }
    .h3-4{
        color: $color_menu-palette;
        @include font-palette();
        padding-bottom: 170px;
    }
//PAGE MENU
.title-menu{
    text-align: center;
}
.main-h4{
    text-align: center;
}

.article-note{
    @include bg-color($color-note);
    @include mobile-only{
        height: auto;
       
    }
}
//COLOR BG MENU PAGE
.article-chic{
    @include bg-color($color-chic);
}
.article-palette{
    @include bg-color($color-palette);
}
.article-delice{
    @include bg-color($color-delice);
    
}
//OMBRE PAGE MENU
.shadow{
    @include shadows-box();
}
p{
    text-align: center;
    padding-top: 50px;
    .noteimg{
    width: 150px;
}
}

.main-title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    @include bg-font();
}
.main-big-article{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    @include mobile-only{
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
}
//FOOTER PAGE
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 ;
    padding: 0 ;
 
     @include bg-color();
     height: 30px;
     display: flex;
     justify-content: space-between;
     padding-right: 50px;
     padding-left: 50px;
     padding-top: 10px;
     @include bg-font();

     :hover{
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
     }
     a{
         text-decoration: none;
         list-style: none;
         color: $color-bg-txt;
         font-size: 1em;

         @include mobile-only{
            font-size : 0.7em;
            text-align: center;
            padding-top: 5px;
    }
     }
 
}
//PROCHAINEMENT
 .btn-prochainement{
    
     width: 30%;
     height: auto;
     margin: auto;
     margin-bottom: 70px;
     border-radius: 10px;
     @include bg-color();
     display: flex;
     justify-content: center;
     
     h4{
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        list-style: none;
        text-align: center;
        color: $color-bg-txt;
        @include bg-font();
        font-size: 1.6em;

        @include tablet-only{
            font-size: 1em;
            padding-bottom: 20px;
        }
        @include mobile-only{
            font-size: 0.8em;
        }
        @include small-mobile{
            font-size: 0.6em;
        }
    }
}
//ANIMATION PROCHAINEMENT
 .btn-prochainement:after {
    overflow: hidden;
    position: absolute;
    right: 37%;
    top: 1235px;
    
    color: $color-bg-txt;
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
    -webkit-animation: ellipsis steps(4,end) 2s infinite;      
    animation: ellipsis steps(4,end) 2s infinite;
    content: "\2026";
    width: 0px;

    @include prochainement{
        right: 35%;
    }
    @include prochainement-small{
        top: 1250px;
        right: 47%;
    }
    @include tablet-only{
        right: 46%;
        top: 1245px;
    }
    
    @include mobile-only{
        left: 200px;
        top: 2335px;

    }
    @include middle-mobile{
        left: 170px;
        top: 2335px;
    }
    @include small-mobile{
        left : 150px;
        top: 2335px;
    }
  }