.title-menu{
            
    text-align: center;
}
.main-h4{
    text-align: center;
}

.article-note{
    @include bg-color($color-note);
}
.article-chic{
    @include bg-color($color-chic);
}
.article-palette{
    @include bg-color($color-palette);
}
.article-delice{
    @include bg-color($color-delice);
    
}
.shadow{
    @include shadows-box();
}
p{
    text-align: center;
    padding-top: 50px;
    .noteimg{
    width: 150px;
}
}

.main-title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    @include bg-font();
    @include mobile-only{
        
    }
}
.main-big-article{
    width: 80%;
    height: 1100px;
    margin: auto;
    margin-bottom: 80px;
    @include mobile-only{
        width: 90%;
        margin: auto;
    }
}