.title-note{
    font-size: 2.7em;
    color: $color_menu-note;
    @include font-note;
}

.main-note{
    @include font-menu();
    @include color-font-note();
    
     
    .h4-note{
        font-size: 1.8em;
        @include tablet-only{
            font-size: 1.3em;
            text-align: center;
        }
        @include mobile-only{
            font-size: 1.2em;
            text-align: center;
        }
    }
    table{
        @include tablet-only{
            font-size: 1.1em;
        }
        @include mobile-only{
        font-size: 1em;
        }
    }
    tr{
        @include mobile-only{
            display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        }
    }
    .noms{
        padding-left: 100px;
        padding-top: 10px;
        @include tablet-only{
            padding-left: 30px;
        }
        @include mobile-only{
            padding-left: 20px;
            margin-right: 20px;
        }

    }
    .entre{
        .noms{
        padding-right: 300px;
        @include tablet-only{
            padding-right: 50px;
        }
        @include mobile-only{
            padding-right: 0;
        }
        }
    }
    .plats{
        .noms{
        padding-right: 320px;
        @include tablet-only{
            padding-right: 70px;
        }
        @include mobile-only{
            padding-right: 0;
        }
        }
    }
    .main-border-note{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        .border-note{
            width: 250px;
            @include tablet-only{
                width: 30%;
            }
            @include mobile-only{
                width: 30%;
            }
        }
        .border-left-entre{
            margin-right: 100px;
            @include tablet-only{
                margin-right: 60px;
            }
            @include mobile-only{
                margin-right: 10px;;
            }
        }
        .border-right-entre{
            margin-left: 100px;
            @include tablet-only{
                margin-left: 60px;
            }
            @include mobile-only{
                margin-left: 10px;
            }
        }
        .border-left-plat{
            margin-right: 70px;
            @include tablet-only{
                margin-right: 40px;
            }
            @include mobile-only{
                margin-right: 10px;
            }
        }
        .border-right-plat{
            margin-left: 70px;
            @include tablet-only{
                margin-left: 40px;
            }
            @include mobile-only{
                margin-left: 10px;
            }
        }
        .border-left-dessert{
            margin-right: 90px;
            @include tablet-only{
                margin-right: 50px;
            }
            @include mobile-only{
                margin-right: 10px;;
            }
        }
        .border-right-dessert{
            margin-left: 90px;
            @include tablet-only{
                margin-left: 50px;
            }
            @include mobile-only{
                margin-left: 10px;;
            }
        }
        
    }
    
}

/* ANIMATIONS NOTE ENCHANTEE */
.h4-note {
    position: relative;
}

.h4-note::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1em;
    
    transition: 500ms ease-in-out;
}

.h4-note:hover::before {
    left: 0;
    width: 100%;
    background-color: #000;
}