$color-bg : #579c87;
$color-bg-txt : #fdcb46;
$color-note : #fcdfdb;
$color-chic : #fff5fe;
$color-delice : #f9f9f9;
$color-palette : #fdfffd;
$color_menu-note:#3c1218;
$color_menu-chic:#c77412;
$color_menu-delice:#0887fb;
$color_menu-palette: #72bf56;

$color-chic-entre : #d08b3c;
$color-chic-plat : #a56799;
$color-chic-dessert : #6e4ccc;
$shake-intensity: 1%;

